.video {
    video{
        width: 100%;
    }
    &__container{
        width: 100%;
        user-select: none;
        overflow: hidden;
        max-width: 900px;
        border-radius: 5px;
        background: #000;
        aspect-ratio: 16 / 9;
        position: relative;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }
    &__container.fullscreen{
        max-width: 100%;
        width: 100%;
        height: 100vh;
        border-radius: 0px;
    }
    &__wrapper{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        opacity: 0;
        transition: all 0.08s ease;
    }
    &__timeline{
        height: 7px;
        width: 100%;
        cursor: pointer;
        .progress-area{
            height: 5px;
            position: relative;
            background: $grey;
            span{
                display: none;
                position: absolute;
                left: 50%;
                top: -25px;
                font-size: 13px;
                color: #fff;
                pointer-events: none;
                transform: translateX(-50%);
            }
            .progress-bar{
                width: 0%;
                height: 100%;
                position: relative;
                background: $blue;

                // timeline dot
                &::before{
                    display: none;
                    content: "";
                    right: 0;
                    top: 50%;
                    height: 13px;
                    width: 13px;
                    position: absolute;
                    border-radius: 50%;
                    background: $blue;
                    transform: translateY(-50%);
                  }
            }
        }
    }
    &__timeline:hover .progress-bar::before, .video__timeline:hover .progress-area span{
        display: block;
    }
    &__controls{
        padding: 5px 20px 10px;
        @include flex-center;
        justify-content: space-between;
        .options{
            &-left {
                @include flex-center;
                width: 70%;
                justify-content: space-between;
            }
            &-right {
                @include flex-center;
                width: 30%;
                justify-content: flex-end
            }
            button{
                height: 40px;
                width: 40px;
                font-size: 19px;
                border: none;
                cursor: pointer;
                background: none;
                color: #efefef;
                border-radius: 3px;
                transition: all 0.3s ease;
            }
            button img{
                height: 100%;
                width: 100%;
                max-width: 20px;
                line-height: 40px;
            }
            button:active img{
                transform: scale(0.9);
            }
            input{
                height: 4px;
                margin-left: 3px;
                max-width: 75px;
                border: none;
                outline: none;
                accent-color: $blue;
            }
            .video-timer{
                @include flex-center;
                color: #efefef;
                margin-left: 15px;
                font-size: 14px;
                .separator{
                    margin: 0 5px;
                    font-size: 16px;
                    font-family: "Open sans";
                }
            }
        }

    }
}
.container.show-controls .video__wrapper{
  opacity: 1;
  bottom: 0;
  transition: all 0.13s ease;
}